
.planets-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Audiowide', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  background-image: url('/public/images/planets-bgrd.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center
}


.planets-title {
  font-size: 3.5rem;
  color: #00ffff;
  margin-bottom: 40px;
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.7);
}


.planets-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 40px;
  margin-bottom: 10em;
}


.planet-card {
  background: rgba(20, 20, 30, 0.8);
  border: 1px solid #00ffff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.planet-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px rgba(0, 255, 255, 0.7);
}


.planet-name {

  font-size: 1.5rem;
  color: #00ffff;
  margin-bottom: 10px;
}

.planet-image {
 
  width: 100%;
  height: 50%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:  rgba(60, 84, 113, 0.6);
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
  width: 500px;
  text-align: center;
  z-index: 1000;
}
.close-button{
  position: relative;
  left: 10em;
}
button {
  margin: 20px;
  padding: 10px 20px;
  background: #17b8ed;
  font-size: 1rem;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.4s ease;
}

button:hover {
  background: #00ffff;
  transform: scale(1.05);
}